.export-format-container {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 2em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;

    li {
      margin: 10px;

      button {
        @include button-style;
        width: 200px;
      }
    }
  }
}
