@mixin button-style {
  padding: $button-padding;
  border: none;
  border-radius: $button-border-radius;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: $box-shadow;
  background-color: $primary-color;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    background: $disabled-color;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}
